[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "staRdom"]
	path = staRdom
	url = https://github.com/matthiaspucher/stardom
	shallow = true
	registered = true
